.main {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
 
}

.covor {
  flex: 3;
  height: 100%;
  max-width: 50%;
  background-image: url('../sorce/8673852.jpg');
  background-size: cover;
  background-position: center;
}

.loGo {
  flex: 1;
 margin-bottom: 200px;
 margin-left: 50px;
 
}

.content {
  flex: 3;
  padding: 20px;
  background-color: #ffffff;
}



.Links {
  list-style: none;
  padding: 0;
}

.link1 {
  margin-top: 10px;
}

.custom-button {
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 150px; 
  padding: 15px; 
  font-size: 16px; 
}

.custom-button:hover {
  background-color: #8e8e8e;
  box-shadow: 0 0 0 5px #3b82f65f;
  color: #fff;
}