.main {
    text-align: center;
    margin: 50px auto;
    background-image: url('../sorce/8673852.jpg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 200px;
  }
  
  .homepage{
    font-size: 60px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0); /* Set text color for better visibility */
  }
  
  .Links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .link1 {
    font-size: 30px;
    margin: 0 10px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
  }
  
  a {
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #c7c7c7;
  }
  